@{
    ViewData["Title"] = "Successful Registration";
}
<div class="row">
    <div class="col-12 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
        <div class="mb-4">
            <img src="\assets\images\invoice-cuate.png" width="300" height="300" />
        </div>
        <div class="text-center">
            <h2 class="text-success mb-3 fw-bold">Successful Registration</h2>
            <p>Check your <b>Email</b> and verify your account.</p>
        </div>
        <div class="mt-3">
            <p class="small">We sent you an email with verify link, please open this link to verify it's you!</p>
        </div>
        <div class="alert alert-secondary">
            <p class="small text-muted m-0">If you not see our email in <b>inbox</b>, please check your email <b>spam</b> folder!</p>
        </div>
    </div>
</div>

